<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>97139435070-4rrdbnoebauiu9otgm41p20jps5akdu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97139435070-4rrdbnoebauiu9otgm41p20jps5akdu0</string>
	<key>API_KEY</key>
	<string>AIzaSyAlH9RjV44sCo8hHZHcTOl8MPmpWVfXshQ</string>
	<key>GCM_SENDER_ID</key>
	<string>97139435070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ebw.iosApp</string>
	<key>PROJECT_ID</key>
	<string>ebw-project-175506</string>
	<key>STORAGE_BUCKET</key>
	<string>ebw-project-175506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97139435070:ios:0de58e713afae4a6</string>
	<key>DATABASE_URL</key>
	<string>https://ebw-project-175506.firebaseio.com</string>
</dict>
</plist>